[cluster dvsdcluster]
KEYNAME = mykey
CLUSTER_SIZE = 1
CLUSTER_USER = sgeadmin
CLUSTER_SHELL = bash

# my ubuntu 12.04
NODE_IMAGE_ID = ami-624a0c0b
NODE_INSTANCE_TYPE = cg1.4xlarge
# NODE_INSTANCE_TYPE = cc1.4xlarge
AVAILABILITY_ZONE = us-east-1d
VOLUMES = 1307-dvsd-ws,1212-dvs-turtle

PLUGINS = dvsdcluster_staticip
#, boot-extra-packages

# list of permissions (or firewall rules) to apply to the cluster's security
# group (OPTIONAL).
PERMISSIONS = http
SPOT_BID = 2.50
FORCE_SPOT_MASTER=True 

[volume 1307-dvsd-ws]
VOLUME_ID = vol-2927bf74
MOUNT_PATH = /1307-dvsd-ws

[volume 1212-dvs-turtle]
VOLUME_ID =  vol-4ab25316
MOUNT_PATH = /1212-dvs-turtle

[plugin dvsdcluster_staticip] 
setup_class = elasticip.ElasticIPSetup 
elasticip = 184.73.232.191

# [plugin dvsdcluster_extrapackages]
# SETUP_CLASS = starcluster.plugins.pkginstaller.PackageInstaller
# PACKAGES = ffmpeg, mplayer, mencoder, libavcodec-extra-53


#  adduser --home /1307-dvsd-ws/dvsd --uid 9500 --shell /bin/zsh dvsd

# nvidia-cuda-dev
